<?php

/**
 * @author Gritschacher, Musser
 * @copyright 05/2008
 * @version 0.3
 *
 * Copy .env.example to .env and fill in local credentials.
 * This committed config.php loads secrets from the environment only.
 */

// PHP 8: log errors; do not print them into HTML/XML responses
$ffbLogDir = dirname(__FILE__) . '/logs';
if (!is_dir($ffbLogDir)) {
    @mkdir($ffbLogDir, 0755, true);
}
ini_set('log_errors', '1');
ini_set('error_log', $ffbLogDir . '/php_errors.log');
ini_set('display_errors', '0');
error_reporting(E_ALL);

require_once dirname(__FILE__) . '/classes/FFB_Env.php';
FFB_Env::load(dirname(__FILE__) . '/.env');

//Root-Pfad
define('BASE_PATH','http://'.$_SERVER['SERVER_NAME'].'/');
define('FFB_BASE_PATH','http://'.$_SERVER['SERVER_NAME'].'/');
define('PIC_BASE_PATH','http://'.$_SERVER['SERVER_NAME'].'/');

define('FFB_CLASS_PATH','classes/');

define('FFB_IMAGE_PATH','images/ffb/');
define('PIC_IMAGE_PATH','images/pictory/');
define('ADM_IMAGE_PATH','images/admin/');

define('INCLUDE_PATH','include/');
define('PIC_INCLUDE_PATH','include/pictory/');
define('ADM_INCLUDE_PATH','include/admin/');

define('SCRIPT_PATH','script/');
define('PIC_SCRIPT_PATH','script/pictory/');
define('ADM_SCRIPT_PATH','script/admin/');

define('VIEWER_PATH','viewer/');
define('FFB_VIEWER_PATH','viewer/ffb/');
define('PIC_VIEWER_PATH','viewer/pictory/');
define('ADM_VIEWER_PATH','viewer/administration/');

define('FFB_MODULE_PATH','modules/');

define('FFB_SUBDOMAIN','ffb');
define('PIC_SUBDOMAIN','pictory');

define('FFB_DEFAULT_MODULE','welcome');

define('PROPEL_CONFIG_FILE', 'classes/propel/build/conf/ffb-conf.php');

$dbHost = FFB_Env::require('FFB_DB_HOST');
$dbName = FFB_Env::require('FFB_DB_NAME');
$dbUser = FFB_Env::require('FFB_DB_USER');
$dbPassword = FFB_Env::require('FFB_DB_PASSWORD');
$dbCharset = FFB_Env::get('FFB_DB_CHARSET', 'utf8mb4');

define('FFB_RECAPTCHA_PUBLICKEY', FFB_Env::require('FFB_RECAPTCHA_PUBLICKEY'));
define('FFB_RECAPTCHA_PRIVATEKEY', FFB_Env::require('FFB_RECAPTCHA_PRIVATEKEY'));

define('FFB_DATABASE_NAME', $dbName);
define(
    'FFB_DB_LOGIN',
    'mysqli://' . rawurlencode($dbUser) . ':' . rawurlencode($dbPassword) . '@' . $dbHost . '/' . $dbName
);
define('FFB_DB_DSN', 'mysql:host=' . $dbHost . ';dbname=' . $dbName . ';charset=' . $dbCharset);
define('FFB_DB_USER', $dbUser);
define('FFB_DB_PASSWORD', $dbPassword);

set_include_path("classes/propel/build/classes" . PATH_SEPARATOR . get_include_path());

$vendorBase = dirname(__FILE__) . '/vendor';
set_include_path($vendorBase . PATH_SEPARATOR . get_include_path());
set_include_path($vendorBase . '/pear-core/src' . PATH_SEPARATOR . get_include_path());
set_include_path($vendorBase . '/pear-db' . PATH_SEPARATOR . get_include_path());
set_include_path($vendorBase . '/pear-log' . PATH_SEPARATOR . get_include_path());
set_include_path($vendorBase . '/pear-exception' . PATH_SEPARATOR . get_include_path());
set_include_path($vendorBase . '/pear-xml-util' . PATH_SEPARATOR . get_include_path());
set_include_path($vendorBase . '/pear-xml-serializer' . PATH_SEPARATOR . get_include_path());
set_include_path($vendorBase . '/pear-validate' . PATH_SEPARATOR . get_include_path());

?>
