<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory="tests/.phpunit.cache">
    <testsuites>
        <testsuite name="xml-contracts">
            <directory>tests/Contract</directory>
        </testsuite>
    </testsuites>
    <php>
        <!-- Prefer values from repo-root .env; these are non-secret test defaults only. -->
        <env name="FFB_TEST_BASE_URL" value="http://127.0.0.1:8765/" force="false"/>
        <env name="FFB_TEST_USER" value="ffb_contract_tester" force="false"/>
        <env name="FFB_TEST_PASSWORD" value="testpass123" force="false"/>
    </php>
</phpunit>
