<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory="tests/.phpunit.cache">
    <testsuites>
        <testsuite name="xml-contracts">
            <directory>tests/Contract</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="FFB_TEST_BASE_URL" value="http://127.0.0.1:8765/"/>
        <env name="FFB_TEST_USER" value="ffb_contract_tester"/>
        <env name="FFB_TEST_PASSWORD" value="testpass123"/>
        <env name="FFB_DB_DSN" value="mysql:host=127.0.0.1;dbname=d00817fb;charset=utf8mb4"/>
        <env name="FFB_DB_USER" value="d00817fb"/>
        <env name="FFB_DB_PASSWORD" value="peterlipp"/>
    </php>
</phpunit>
