form {
    padding:0;
    margin:0;
}

/* round Mainhelp div */
.rounddiv_mainhelp {
	background:transparent;
    width:70%;
    margin-left:auto;
    margin-right:auto;
}
div#Mainhelp {
    padding:5px;
    background-color:#CCFFCC;
    font-size: 10pt;
}
/* ***** */

/* round Mainhelp right div */
.rounddiv_mainhelpright {
	background:transparent;
    width:70%;
    float:right;
}
div#Mainhelpright {
    padding:5px;
    background-color:#99CC99;
    font-size: 10pt;
}
/* ***** */

/* round Mainhelp left div */
.rounddiv_mainhelpleft {
	background:transparent;
    width:29%;
    float:left;
}
div#Mainhelpleft {
	min-height:1400px;
    padding:5px;
    background-color:#99CC99;
    font-size: 10pt;
}
/* ***** */

div#helptitle {
    width:100%;
    font-size:16pt;
    text-align:center;
    margin-bottom:5px;
}
div#helpchaptertitle {
    width:100%;
    font-size:12pt;
    font-weight:bold;
    text-align:left;
}
div#helpchaptertext {
    width:100%;
    font-size:10pt;
    text-align:justify;
    margin-top:5px;
}
div#helpchaptermenue {
    width:90%;
    margin-right:auto;
    margin-left:auto;
    font-size:12pt;
    text-align:center;
    padding-top:3px;
    padding-bottom:3px;
}
div#helpchapter {
    width:100%;
    font-size:12pt;
    text-align:justify;
    margin-bottom:5px;
}
table.points {
    font-size:10pt;
    border:solid black 1px;
    background-color:#99CC99;
}
.points td {
    padding:2px;
    text-align: center;
    border:solid #CCFFCC 1px;
}
.points tr {
}
.points tr:hover {
    background-color:#CCFFCC;
}
.points th {
    background-color:#CCFFCC;
    font-size: 11pt;
    text-align:center;
    padding:2px;
}