#lineup_field_main {
    background-color: #99CC99;
    width: 100%;
    visibility: visible;
    position: relative;
}

/* round lineup select main div */
.rounddiv_lineupselectmain {
	background:transparent;
    width:99%;
    margin-left:auto;
    margin-right:auto;
    padding-top:5px;
}
#lineup_select_main {
    background-color:#CCFFCC;
}
/* ***** */

/* round matchlist div */
.rounddiv_matchlist {
	background:transparent;
    width:99%;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    visibility: visible;
}
div#matchlist {
    background-color:#CCFFCC;
    font-size:8pt;
    padding-top: 5px;
    padding-bottom: 5px;
}
/* ***** */


#lineup_select_round {
    width: 100%;
    text-align:center;
}
#lineup_select_user {
    width: 100%;
    text-align:center;
    padding-top:5px;
}
#lineup_select_selected_user {
    width: 100%;
    text-align:center;
    font-size:12pt;
    padding-top:2px;
}
#lineup_infoarea_credits {
    width:15%;
    height:68px;
    position:absolute;
    top:2px;
    left:75%;
    z-index:10;
    text-align:center;
    background-color:#99CC99;
}
#lineup_infoarea_credits_img {
    width:45%;
    float:left;
    text-align:right;
    padding-top:12px;
}
#lineup_infoarea_credits_txt {
    width:53%;
    float:right;
    text-align:center;
    padding-top:20px;
    font-size: 16pt;
}
#lineup_infoarea_credits_players {
    width:100%;
    text-align:center;
    font-size:8pt;
    padding-top:1px;
}
#lineup_infoarea_score {
    width:15%;
    height:68px;
    position:absolute;
    top:2px;
    left:10%;
    z-index:10;
    text-align:center;
    background-color:#99CC99;
}
#lineup_infoarea_score_img {
    width:49%;
    float:left;
    text-align:left;
    padding-top:12px;
}
#lineup_infoarea_score_txt {
    width:49%;
    float:right;
    text-align:left;
    padding-top:20px;
    font-size: 16pt;
}
#lineup_infoarea_score_players {
    width:100%;
    text-align:center;
    font-size:8pt;
    padding-top:1px;
}

#lineup_infoarea {
    background-color: #99CC99;
    min-height: 70px;
    width: 100%;
    padding-bottom: 5px;
}
#lineup_infoarea_title {
    width: 96%;
    margin-left:auto;
    margin-right:auto;
    font-size:14pt;
    text-align:center;
}
#lineup_infoarea_user {
    width: 96%;
    margin-left:auto;
    margin-right:auto;
    font-size:14pt;
    text-align:center;
    padding-top:10px;
}
#lineup_infoarea_actions {
    width: 96%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    padding-top:10px;
}
#lineup_infoarea_infos {
    width: 79%;
    margin-left:auto;
    margin-right:auto;
    font-size:9pt;
    text-align:center;
    margin-top:2px;
    padding:1px;
}


div#soccer_field {
    width:647px;
    height:600px;
    margin-top:0;
    margin-bottom: 0;
    margin-right:auto;
    margin-left:auto;
    position:relative;
}
div#team_score {
    width: 647px;
    margin-right:auto;
    margin-left:auto;
    background-color:#99CC99;
    text-align:center;
    font-size:16pt;
}

div#player_stats {
}

div#line_goalie {
    width:inherit;
    height:100px;
    position:absolute;
    top:20px;
    left:0px;
    z-index:1;
    text-align:center;
}

div#line_defence {
    width:inherit;
    height:100px;
    position:absolute;
    top:160px;
    left:0px;
    z-index:1;
    text-align:center;
}

div#line_midfield {
    width:inherit;
    height:100px;
    position:absolute;
    top:300px;
    left:0px;
    z-index:1;
    text-align:center;
}

div#line_forward {
    width:inherit;
    height:100px;
    position:absolute;
    top:440px;
    left:0px;
    z-index:1;
    text-align:center;
}

div#line_elements {
    display:-moz-inline-box;
    display: inline-block;
    margin-left:auto;
    margin-right:auto;
}

div#line_elements_g {
    display:-moz-inline-box;
    display: inline-block;
    margin-left:auto;
    margin-right:auto;
}

div#line_elements_d {
    display:-moz-inline-box;
    display: inline-block;
    margin-left:auto;
    margin-right:auto;
}
div#line_elements_m {
    display:-moz-inline-box;
    display: inline-block;
    margin-left:auto;
    margin-right:auto;
}
div#line_elements_s {
    display:-moz-inline-box;
    display: inline-block;
    margin-left:auto;
    margin-right:auto;
}
div#line_element {
    float:left;
    display:-moz-inline-box;
    display:inline-block;
    margin-left:15px;
    margin-right:15px;
    height:100px;
    width:90px;
    text-align:center;
    border: solid black 0px;
    font-size: 8pt;
}

div#line_clear {
    clear:both;
}
div.infosymbols {
    display:-moz-inline-box;
    display: inline-block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5px;
    padding-top:1px;
    padding-bottom:1px;
    background-color: #99CC99;
    overflow: hidden;
}
div.position {
    float:left;
    text-align: left;
    background-color: #FF0000;
    margin-left:2px;
    margin-top:2px;
    padding-right:1px;
}
div.info {
    display:-moz-inline-box;
    display: inline-block;
    float:left;
    text-align: left;
    padding-left:1px;
    padding-right:1px;
}
div.price {
    float:left;
    text-align: left;
    background-color: #00FF00;
    margin-left:3px;
    margin-top:2px;
    padding-right:1px;
}
div.scores {
    color: #FFFFFF;
}
div.bla {
    float:left;
    color: #FFFFFF;
    text-align: center;
    background-color: #000000;
    margin-left:3px;
    margin-top:2px;
    padding:1px;
}
div.nationality {
    float:left;
    display:-moz-inline-box;
    display: inline-block;
    text-align: center;
    padding-left:1px;
}
div.status {
    float:left;
    display:-moz-inline-box;
    display: inline-block;
    text-align: left;
    padding-left:1px;
    padding-right:1px;
}
div#administration {
    width:100%;
    margin-left:auto;
    margin-right:auto;
    background-color:#99CC99;
    font-size: 10pt;
}
div#admintitle {
    width:100%;
    font-size:16pt;
    text-align:center;
    margin-bottom:5px;
}
div#form {
    background-color:#CCFFCC;
    width:98%;
    padding:5px;
    margin-left:auto;
    margin-right:auto;
}

div#formline {
    margin-top: 2px;
    clear:both;
}
div#formdescr {
    width: 49%;
    float:left;
    text-align:right;
}
div#forminput {
    width: 49%;
    float:left;
    text-align:left;
}
div#formclear {
    clear:both;
}

div#matchdate {
    width:18%;
    float:left;
    padding-left: 2px;
}
div#matchteams {
    width:80%;
    float:left;
    text-align:center;
}
div#matchround {
    width:20%;
    float:left;
}
div#matchhome {
    width:49%;
    float: left;
    text-align:right;
}
div#matchguest {
    width:49%;
    float: left;
    text-align:left;
}
div#listline {
    width:97%;
    margin-left:auto;
    margin-right:auto;
    clear:both;
    background-color:#99CC99;
}
div#listline:hover { background-color: #CCFFCC; }

div#listclear {
    clear:both;
}
div#listdescr {
    width:98%;
    text-align:left;

    padding:2px;
}
div#listsymbol {
    width: 49%;
    float:right;
    text-align:right;
}
div#listitem {
    width:100%;
    margin-top:5px;
    border: solid black 1px;
}
