/* body and base container */
body { background-color:#CCFFCC;
       margin:0px;
       padding:0px;
       font-size:12pt;
       font-family:Verdana,sans-serif;
       /*font-family:Georgia,sans-serif;*/
       color:#000000;
}

#Container {
    background-color: #CCFFCC;
    width: 99%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
    visibility: visible;
    position: relative;
}
form {
	margin:0;
	padding:0;
}
/* ***** */

/* css for round corners with dark green background*/
.roundcorner_dark {
}
.roundcorner_dark h1, .roundcorner_dark p {
  margin:0 10px;
}
.roundcorner_dark h1 {
  font-size:2em;
  color:#ccc;
}
.roundcorner_dark p {
  padding-bottom:0.5em;
}
.roundcorner_dark .b1, .roundcorner_dark .b2, .roundcorner_dark .b3, .roundcorner_dark .b4,
.roundcorner_dark .b1b, .roundcorner_dark .b2b, .roundcorner_dark .b3b, .roundcorner_dark .b4b {
  display:block;
  overflow:hidden;
  font-size:1px;
}
.roundcorner_dark .b1, .roundcorner_dark .b2, .roundcorner_dark .b3,
.roundcorner_dark .b1b, .roundcorner_dark .b2b, .roundcorner_dark .b3b {
  height:1px;
}
.roundcorner_dark .b2 {
  background:#99CC99;
  border-left:1px solid #99CC99;
  border-right:1px solid #99CC99;
}
.roundcorner_dark .b3 {
  background:#99CC99;
  border-left:1px solid #99CC99;
  border-right:1px solid #99CC99;
}
.roundcorner_dark .b4 {
  background:#99CC99;
  border-left:1px solid #99CC99;
  border-right:1px solid #99CC99;
}
.roundcorner_dark .b4b {
  background:#99CC99;
  border-left:1px solid #99CC99;
  border-right:1px solid #99CC99;
}
.roundcorner_dark .b3b {
  background:#99CC99;
  border-left:1px solid #99CC99;
  border-right:1px solid #99CC99;
}
.roundcorner_dark .b2b {
  background:#99CC99;
  border-left:1px solid #99CC99;
  border-right:1px solid #99CC99;
}
.roundcorner_dark .b1 {
  margin:0 5px;
  background:#99CC99;
}
.roundcorner_dark .b2, .roundcorner_dark .b2b {
  margin:0 3px;
  border-width:0 2px;
}
.roundcorner_dark .b3, .roundcorner_dark .b3b {
  margin:0 2px;
}
.roundcorner_dark .b4, .roundcorner_dark .b4b {
  height:2px; margin:0 1px;
}
.roundcorner_dark .b1b {
  margin:0 5px; background:#99CC99;
}
/* ***** */

/* css for round corners with light green background*/
.roundcorner_light {
}
.roundcorner_light h1, .roundcorner_light p {
  margin:0 10px;
}
.roundcorner_light h1 {
  font-size:2em;
}
.roundcorner_light p {
  padding-bottom:0.5em;
}
.roundcorner_light .b1, .roundcorner_light .b2, .roundcorner_light .b3, .roundcorner_light .b4,
.roundcorner_light .b1b, .roundcorner_light .b2b, .roundcorner_light .b3b, .roundcorner_light .b4b {
  display:block;
  overflow:hidden;
  font-size:1px;
}
.roundcorner_light .b1, .roundcorner_light .b2, .roundcorner_light .b3,
.roundcorner_light .b1b, .roundcorner_light .b2b, .roundcorner_light .b3b {
  height:1px;
}
.roundcorner_light .b2 {
  background:#CCFFCC;
  border-left:1px solid #CCFFCC;
  border-right:1px solid #CCFFCC;
}
.roundcorner_light .b3 {
  background:#CCFFCC;
  border-left:1px solid #CCFFCC;
  border-right:1px solid #CCFFCC;
}
.roundcorner_light .b4 {
  background:#CCFFCC;
  border-left:1px solid #CCFFCC;
  border-right:1px solid #CCFFCC;
}
.roundcorner_light .b4b {
  background:#CCFFCC;
  border-left:1px solid #CCFFCC;
  border-right:1px solid #CCFFCC;
}
.roundcorner_light .b3b {
  background:#CCFFCC;
  border-left:1px solid #CCFFCC;
  border-right:1px solid #CCFFCC;
}
.roundcorner_light .b2b {
  background:#CCFFCC;
  border-left:1px solid #CCFFCC;
  border-right:1px solid #CCFFCC;
}
.roundcorner_light .b1 {
  margin:0 5px;
  background:#CCFFCC;
}
.roundcorner_light .b2, .roundcorner_light .b2b {
  margin:0 3px;
  border-width:0 2px;
}
.roundcorner_light .b3, .roundcorner_light .b3b {
  margin:0 2px;
}
.roundcorner_light .b4, .roundcorner_light .b4b {
  height:2px; margin:0 1px;
}
.roundcorner_light .b1b {
  margin:0 5px; background:#CCFFCC;
}
/* ***** */

/* css for round corners with red background*/
.roundcorner_red {
}
.roundcorner_red h1, .roundcorner_red p {
  margin:0 10px;
}
.roundcorner_red h1 {
  font-size:2em;
  color:#ccc;
}
.roundcorner_red p {
  padding-bottom:0.5em;
}
.roundcorner_red .b1, .roundcorner_red .b2, .roundcorner_red .b3, .roundcorner_red .b4,
.roundcorner_red .b1b, .roundcorner_red .b2b, .roundcorner_red .b3b, .roundcorner_red .b4b {
  display:block;
  overflow:hidden;
  font-size:1px;
}
.roundcorner_red .b1, .roundcorner_red .b2, .roundcorner_red .b3,
.roundcorner_red .b1b, .roundcorner_red .b2b, .roundcorner_red .b3b {
  height:1px;
}
.roundcorner_red .b2 {
  background:#FF0000;
  border-left:1px solid #FF0000;
  border-right:1px solid #FF0000;
}
.roundcorner_red .b3 {
  background:#FF0000;
  border-left:1px solid #FF0000;
  border-right:1px solid #FF0000;
}
.roundcorner_red .b4 {
  background:#FF0000;
  border-left:1px solid #FF0000;
  border-right:1px solid #FF0000;
}
.roundcorner_red .b4b {
  background:#FF0000;
  border-left:1px solid #FF0000;
  border-right:1px solid #FF0000;
}
.roundcorner_red .b3b {
  background:#FF0000;
  border-left:1px solid #FF0000;
  border-right:1px solid #FF0000;
}
.roundcorner_red .b2b {
  background:#FF0000;
  border-left:1px solid #FF0000;
  border-right:1px solid #FF0000;
}
.roundcorner_red .b1 {
  margin:0 5px;
  background:#FF0000;
}
.roundcorner_red .b2, .roundcorner_red .b2b {
  margin:0 3px;
  border-width:0 2px;
}
.roundcorner_red .b3, .roundcorner_red .b3b {
  margin:0 2px;
}
.roundcorner_red .b4, .roundcorner_red .b4b {
  height:2px; margin:0 1px;
}
.roundcorner_red .b1b {
  margin:0 5px; background:#FF0000;
}
/* ***** */

/* round nav bars */
.rounddiv_nav {
  background:transparent;
  margin-bottom:5px;
}
#NavbarRound {
	display:block;
    background-color: #99CC99;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    visibility: visible;
    position: relative;
}
#Navigation {
    background-color: #99CC99;
    border: solid black 0px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    visibility: visible;
    position: relative;
    padding-left: 2px;
    padding-top: 2px;
    float: left;
}
.rounddiv_nav_small {
  background:transparent;
  margin-top:3px;
}
#NavbarSmallRound {
	background-color: #CCFFCC;
}
#navbar_small {
	margin-top:3px;
	border-right:solid black 1px;
	border-top:solid black 1px;
	background-color: #CCFFCC;
}
#navitem_big {
    float:left;
    margin-left:10px;
    margin-right:10px;
    text-align:center;
}
#navitem_small {
    float:left;
    margin-left:5px;
    margin-right:5px;
    text-align:center;
}
/* ***** */

/* round countdown */
.rounddiv_countdown {
	background-color:#CCFFCC;
    margin-right:5px;
    float: right;
	min-width: 20%;
}
#Countdown {
    background-color: #CCFFCC;
	font-size: 12px;
	font-weight: bold;
}
.CountdownEntry {
	/*clear: both;*/
	padding-right:1px;
	background-color: #CCFFCC;
	/*border:solid black 1px;*/
	/*margin-bottom: 2px;*/
}
.CountdownLeft {
	/*text-shadow: black 1px 1px;*/
	font-family: "Century Schoolbook";
	float:left;
	min-width: 150px;
    padding-left: 2px;
    text-align: right;
    font-weight: bold;
	background-color: #CCFFCC;
}
.CountdownRight {
	min-width:10px;
	font-weight: bold;
	float: left;
	text-align: right;
	vertical-align: middle;
	padding-right: 2px;
	margin-left: 5px;
	background-color: #CCFFCC;
}
.cd {
	font-weight: bold;
	display: inline;
	text-align: right;
	background-color: #CCFFCC;
}
/* ***** */

/* round Mainright div */
.rounddiv_mainright {
	background:transparent;
    width: 34%;
    float: right;
    margin-bottom:2px;
}
#Mainright {
    background-color: #99CC99;
    padding: 4px;
    font-size: 10pt;
    /*min-height: 550px;*/
}
/* ***** */

/* round Mainright Ads div */
.rounddiv_mainrightads {
	background:transparent;
    width: 34%;
    float: right;
    margin-top:2px;
    margin-bottom:5px;
}
#Mainright_ads {
    background-color: #99CC99;
    padding: 10px;
    font-size: 10pt;
    text-align:center;
}
#Mainright_villacher {
    background-color: #99CC99;
    padding: 10px;
    font-size: 10pt;
    text-align:center;
}
/* ***** */

/* round Leftteam div */
.rounddiv_leftteam {
	background:transparent;
    min-height: 600px;
    width: 100%;
    margin-bottom: 5px;
}
#Leftteam {
    background-color: #99CC99;
}
/* ***** */

/* round Leftinfo div */
.rounddiv_leftinfo {
	background:transparent;
    min-height: 100px;
    width: 100%;
    margin-bottom: 5px;
}
#Leftinfo {
    background-color: #99CC99;
}
/* ***** */

/* round Main div */
.rounddiv_main {
	background:transparent;
    width: 100%;
    margin-bottom: 5px;
}
#Main {
    background-color: #99CC99;
    min-height: 550px;
    font-size: 10pt;
}
/* ***** */

/* round Footer div */
.rounddiv_footer {
	background:transparent;
    width: 100%;
    margin-bottom: 5px;
    clear: both;
    margin-top: 5px;
}
#Footer {
    background-color: #99CC99;
    font-size:8pt;
    padding-left: 5px;
}
/* ***** */

/* round login info div */
.rounddiv_logininfo {
	background:transparent;
    width: 70%;
    margin-bottom:10px;
    margin-right:auto;
    margin-left:auto;
}
#login_info {
    background-color: #CCFFCC;
    font-size:10pt;
    padding-left: 5px;
    padding-right: 5px;
    text-align:center;
}
/* ***** */

#Mainleft {
    background-color: #CCFFCC;
    min-height: 550px;
    width: 65%;
    float: left;
    visibility: visible;
    position: relative;
    font-size: 10pt;
    margin-bottom:5px;
}

#Leftaction {
    background-color: #99CC99;
    min-height: 100px;
    width: 100%;
    visibility: inherit;
    position: relative;
    margin-bottom: 5px;
}

#Content {
    background:#E6E6FA;
    visibility:visible;
    position: relative;
    padding: 0px;
    width:90%;
    clear:both;
}

#Mainright_comments {
  font-size:12px;
  text-align:block;
  background-color:#99CC99;
}

#bigload {
	width: 100px;
	height: 100px;
	vertical-align: middle;
}

#mediumload {
	width: 32px;
	height: 32px;
	vertical-align: middle;
}

#smallload {
	width: 18px;
	height: 15px;
	vertical-align: middle;
}

#bigbarload {
	width: 126px;
	height: 22px;
	vertical-align: middle;
}

#inprogressload {
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

#imgfront {
	vertical-align: text-top;
	vertical-align: top;
	margin-left: 7px;
	margin-right: 7px;
	margin-bottom: 5px;
}

#logo {
	display: inline;
}

hr {
    color: #CCFFCC;
}

.rss {
	text-align: center;
	margin-top: 5px;
}


.gameSelect0 {
	background-color: #99CC99;
}

.gameSelect1 {
	background-color: #CCFFCC;
}

input.ffb_button {
    color:#000000;
    font: 'trebuchet ms',helvetica,sans-serif;
    background-color:#00FF00;
    border: 2px solid;
    border-color: #696 #363 #363 #696;
    filter:progid:DXImageTransform.Microsoft.Gradient
    (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa');
}

input.ffb_button_disabled {
    color:#C0C0C0;
    font: 'trebuchet ms',helvetica,sans-serif;
    background-color:#CCFFCC;
    border: 2px solid;
    border-color: #696 #363 #363 #696;
    filter:progid:DXImageTransform.Microsoft.Gradient
    (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa');
}

.ffb_select {
    background-color:#CCFFCC;
}

.ffb_select_0 {
    background-color:#99CC99;
}
.ffb_select_1 {
    background-color:#CCFFCC;
}
.ffb_select_marked {
    background-color:#FFAB8F;
}

.mtxt {
  text-align:center;
  font-size:85%;
  background-color:#99CC99;
  min-height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-style: italic;
}

a.nav:link { color:#000000; text-decoration:underline; }
a.nav:visited { color:#000000; text-decoration:underline; }
a.nav:hover { color:#FFFFFF; text-decoration:underline; background:#008000; }
a.nav:active { color:#808000; text-decoration:underline; }

a.nolink:link { color:#000000; text-decoration:none; }
a.nolink:visited { color:#000000; text-decoration:none; }
a.nolink:hover { color:#000000; text-decoration:none; }
a.nolink:active { color:#000000; text-decoration:none; }

a.under:link { color:#000000; text-decoration:underline; }
a.under:visited { color:#000000; text-decoration:underline; }
a.under:hover { color:#000000; text-decoration:underline; }
a.under:active { color:#000000; text-decoration:underline; }