.awardInput, .awardInputSmall, .awardDummy {
	font-size: 		10px;
	font-weight: 	bold;
	float:			left;
	margin-right:	2px;
	margin-bottom:  2px;
	text-align: 	center;
}

.awardDummy{
	width:			3%;
}

.awardInput{
	width:			20%;
	background-color: #CCFFDD;
}

.awardInputSmall{
	width:			5%;
	background-color: #EEFFFF;
}

.awardEntry {
	width:			99%;
	clear: 			both;
}

.formerror, .formanswer {
	min-height: 	12px;
	font-size: 		10px;
	font-weight: 	bold;
	width:			100%;
	
}

.awardInputOpt {
	font-size: 		10px;
	font-weight: 	bold;
	float:			right;
	margin-right:	1px;
	margin-bottom:  2px;
	text-align: 	center;	
	background-color: maroon;
	color:			#EEFFFF;
}

.awardInputOpt1 {
	font-size: 		10px;
	font-weight: 	bold;
	margin-right:	1px;
	margin-bottom:  2px;
	text-align: 	center;	
	background-color: maroon;
	color:			#EEFFFF;
}