<?xml version="1.0" encoding="UTF-8"?>
<!-- Copy to runtime-conf.xml and fill in local credentials. -->
<config>

 <log>
  <type>file</type>
  <name>./propel.log</name>
  <ident>propel-YOUR_DB_NAME</ident>
  <level>7</level>
  <conf></conf>
 </log>

 <propel>
  <datasources default="YOUR_DB_NAME">
   <datasource id="YOUR_DB_NAME">
    <adapter>mysql</adapter>
    <connection>
     <dsn>mysql:host=127.0.0.1;dbname=YOUR_DB_NAME</dsn>
     <user>YOUR_DB_USER</user>
     <password>YOUR_DB_PASSWORD</password>
    </connection>
   </datasource>
  </datasources>
 </propel>

</config>
